<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" opened>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/users" routerLinkActive="active">Usuários</a>
      <a mat-list-item routerLink="/books" routerLinkActive="active">Livros</a>
      <a mat-list-item routerLink="/loans" routerLinkActive="active">Empréstimos</a>
      <a mat-list-item routerLink="/recomendations" routerLinkActive="active">Recomendações</a>
      <a mat-list-item routerLink="/google-books" routerLinkActive="active">Google Books</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Biblioteca</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
